/* Fondo de pantalla completo */
.login-background {
  background: url('/fondo1.jpeg') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;


}

/* Contenedor principal */
.login-container {
  text-align: center;
}

/* Card translúcida */
.login-card {
  width: 360px;
  padding: 24px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.9); /* Transparencia ligera */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

/* Título */
.title {
  font-size: 20px;
  font-weight: bold;
  color: #0077c8; /* azul corporativo */
  margin-bottom: 4px;
}

.subtitle {
  font-size: 14px;
  color: #555;
  margin-bottom: 16px;
}

/* Inputs */
.full-width {
  width: 100%;
  margin-bottom: 12px;
}

/* Botón */
.login-btn {
  margin-top: 8px;
  font-weight: bold;
  background: linear-gradient(90deg, #c1d5e2, #eaeef1);
  color: white;
}

/* Enlace */
.aux-links {
  margin-top: 12px;
}

.reset-link {
  font-size: 13px;
  color: #0077c8;
  text-decoration: none;
}
.reset-link:hover {
  text-decoration: underline;
}

/* Footer */
.footer {
  margin-top: 16px;
  font-size: 12px;
  color: white;
}
