
<div class="login-background">
<div class="back-button">
  <button mat-stroked-button (click)="goBackLogin()">
    ← <span class="back-text">Volver al Login</span>
  </button>
</div>
  <mat-card class="card">
    <mat-card-title class="title">🔒 Restablecer contraseña</mat-card-title>
    <p class="subtitle">Ingrese su usuario y cree una nueva contraseña</p>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
      <!-- Usuario -->
      <mat-form-field appearance="outline" class="field">
        <mat-label>Usuario</mat-label>
        <input matInput formControlName="username" placeholder="usuario@ejemplo.com" />
        <mat-error *ngIf="form.get('username')?.hasError('required')">Obligatorio</mat-error>
      </mat-form-field>

      <!-- Nueva contraseña -->
      <div formGroupName="passwordGroup" class="pw-group">
        <mat-form-field appearance="outline" class="field">
          <mat-label>Nueva contraseña</mat-label>
          <input matInput [type]="hide1 ? 'password' : 'text'" formControlName="password" />
          <button mat-icon-button matSuffix type="button" (click)="hide1=!hide1">
            <mat-icon>{{ hide1 ? 'visibility' : 'visibility_off' }}</mat-icon>
          </button>
          <mat-error *ngIf="form.get('passwordGroup.password')?.hasError('required')">Obligatoria</mat-error>
          <mat-error *ngIf="form.get('passwordGroup.password')?.hasError('minlength')">Mínimo 4 caracteres</mat-error>
        </mat-form-field>

        <!-- Confirmar contraseña -->
        <mat-form-field appearance="outline" class="field">
          <mat-label>Confirmar contraseña</mat-label>
          <input matInput [type]="hide2 ? 'password' : 'text'" formControlName="confirm" />
          <button mat-icon-button matSuffix type="button" (click)="hide2=!hide2">
            <mat-icon>{{ hide2 ? 'visibility' : 'visibility_off' }}</mat-icon>
          </button>
          <mat-error *ngIf="form.get('passwordGroup')?.hasError('mismatch')">No coincide</mat-error>
        </mat-form-field>
      </div>

      <!-- Botón -->
      <button mat-raised-button color="primary" class="btn" type="submit">
        Guardar
      </button>
    </form>
  </mat-card>
</div>
